.loop-header{
    width: 100% ;
    min-height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.loop-bg{
    background: url(../../../../assets/img/header-login.jpg) content-box !important;
    background-size: cover !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}
.loop-title{
    color: white;
    font-size: 28px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
}
.loop-arrow{
    color: white;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45px;
    position: fixed;
    z-index: 90;
}
.loop-center{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.loop-button:active{
    border-radius: 25px;
    background-color: white;
    color: blue;
    border: 0px;
    text-transform: uppercase;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.loop-alert{
    padding: 5px;
}
.loop-text-1{
    color: white;
}
.loop-input-icon{
    position: absolute;
    margin-left: 12px;
    margin-top: 14px;
    height: 13px;
    width: 13px;
    display: flex;
    align-items: center;
}
.loop-input{
    border-radius: 25px;
    background-color: white;
    color: grey;
    border: 0px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    padding-left: 35px;
}
.loop-input::placeholder{
    color: grey;
}
.loop-form{
    text-align: center;
    margin: 0rem;
    padding: 2rem;
}
.loop-button{
    border-radius: 25px;
    background: #0086E0;
    color: white;
    border: 0px;
    text-transform: uppercase;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
}
.loop-font{
    font-size: 14px;
    color: red;
}
.loop-font-2{
    font-size: 14px;
    color: grey;
}
.loop-login{
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width:60%;
}
.loop-link{
    color: #0086E0;
}
.loop-text{
    font-weight: bold;
    color: grey;
}
.white{
    color: white;
}
.loop-input:focus{
    color: #0086E0;
    border: 1.5px #0086E0 solid;
}