.loop-center{
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(../../../assets/img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    text-align: center;
}
.loop-button:active{
    border-radius: 25px;
    background-color: white;
    border: 0px;
    text-transform: uppercase;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.loop-input::placeholder{
    text-align: center;
    color: grey;
}
.loop-form{
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}
.loop-button{
    border-radius: 25px;
    background-color: white;
    color: #0086E0;
    border: 0px;
    text-transform: uppercase;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
}
.loop-logo{
    width: 60%;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.btn-p{
    background-color: #0086E0;
    color: white;
}