<div class="loop-center">
  <div class="container text-center loop-center"> 
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        <div class="loop-logo mb-5 text-center">
          <img src="../../../../assets/img/logo.png" width="100%" height="" alt="">
        </div>   
        <div class="loop-form">
          <a class="btn btn-lg btn-block btn-primary mt-5 loop-button btn-p" routerLink="register">Crear cuenta</a>
        </div>
        <div class="loop-form">
          <a class="btn btn-lg btn-block btn-primary mt-3 loop-button" routerLink="login">Entrar</a>
        </div>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</div>
