<div class="loop-header">
  <div class="loop-arrow">
    <a class="white" routerLink=""><</a>
  </div>
  <div class="loop-title">
    Registrarme
  </div>
</div>
<div class="loop-center">
  <div class="container text-center loop-center"> 
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        <div>
          <form #form (submit)="signUp(form)" class="mt-3 mb-5 loop-form">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="user.name" name="name" class="form-control loop-input"
                    placeholder="Nombre" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="apellido" [(ngModel)]="user.lastName" name="lastName" class="form-control loop-input"
                    placeholder="Apellido" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="number" [(ngModel)]="user.dni" name="dni" class="form-control loop-input" placeholder="DNI"
                required>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="user.mail" name="mail" class="form-control loop-input" placeholder="Mail"
                required>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="user.career" name="career" class="form-control loop-input"
                placeholder="Carrera" required>
            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control loop-input"
                placeholder="Contraseña" required>
            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password2" name="password2" class="form-control loop-input"
                placeholder="Confirmar contraseña" required>
            </div>
            <div *ngIf="state == 1" class="loop-alert">
              <span class="loop-font">{{request.pass}}</span>
            </div>
            <div *ngIf="state == 2" class="loop-alert">
              <span class="loop-font">{{request.fields}}</span>
            </div>
            <div *ngIf="state == 3" class="loop-alert">
              <span class="loop-font">{{request.dni}}</span>
            </div>
            <div *ngIf="state == 4" class="loop-alert">
              <span class="loop-font">{{request.success}}</span>
            </div>
              <div class="loop-login">
                <button type="submit" class="btn btn-lg btn-block btn-primary mt-5 mb-2 loop-button">Crear Cuenta</button>
                <span class="">¿Ya tenés una cuenta? <a class="loop-link" routerLink="../login">Entrar</a></span>
              </div>
          </form>
        </div>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</div>


<div class="loop-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        <div>
          <h3 class="loop-text-1">Registrarme</h3>
          <p class="loop-text-1">Todos los campos son obligatorios</p>
        </div>
        <div>
          <form (submit)="signUp()" class="mt-3 mb-5 loop-form">
            
            <button type="submit" class="btn btn-lg btn-block btn-primary mt-5 loop-button">Entrar</button>
          </form>

        </div>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</div>